.leftSection {
  display: flex;
  justify-content: space-between;
}
.selectOfferingContent {
  margin-top: 20px !important;
}
.searchButton {
  height: 48px !important; 
margin-top: 3px !important;
width: 120px !important;
margin-left: 20px !important;
margin-right: 20px !important;
}

.searchText {
  height: 45px !important;
  width: 300px !important; 
}